{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid  ">
<div class="row">
  <div class="col-md-12 bg-main-theme">

      <div class="container-fluid  rounded">
        <div class="d-flex justify-content-between ">
          <div class="d-flex  justify-content-start p-2 ">
            <a href="#" class="no-decoration text-light font-weight-bold"> Game</a>
          </div>
        <div class="d-flex  justify-content-end p-2 ">
          <small><a href="#" class="p-1 ml-2 mr-2 no-decoration text-light" >News</a></small>
          <small><a href="#" class="p-1 ml-2 mr-2 no-decoration text-light" >News</a></small>
        </div>
      </div>
      </div>
  </div>
<div class="col-md-12 bg-info">
<div class="container-fluid rounded shadow ">
    <div class="row mt-1">
  <div class="col-md-12" >
      <div class="container-fluid bg-light rounded  shadow">
        <div class="row ">
          <div class="col-md-9 bg-dark">
            <div class="container ">
              <small class="text-light">120</small>
            </div>
          </div>
          <div class="col-md-3 bg-dark">
            <div class="container">
              <small class="text-light">120</small>
            </div>
          </div>
        </div>
        <div class="row" id="render_gamer" >
          <div class="container-fluid" id="render_game">
          </div>
        </div>
        <div class="row" >
           <div class="col-md-5 border shadow overflow-y-start" style="height:30vh;" >
               <div class="row " id="_message_holder_">

               </div>
           </div>
           <div class="col-md-7">
           </div>
        </div>
        <div class="row   rounded">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-5 border border-dark bg-dark">
                <form id="_form_messaging_" >
                  {% csrf_token %}
                  <div class="d-flex flex-row">
                  <div class="form-group align-self-center">
                    <input type="text" class=" text-dark"  id="_form_messaging_value_" placeholder="Type Here">
                  </div>
                    <button type="submit" class="btn btn-info  btn-raised align-self-center mt-3">Submit</button>
                  </div>
                </form>
              </div>
              <div class="col-md-7">

              </div>
            </div>

          </div>
        </div>
      </div>
      </div>
    </div>
</div>
</div>
  <div class="col-md-12 min-vh-100">
    <div class="container bg-dark">
    </div>
  </div>
</div>
</div>
{% endblock content %}
