
<!doctype html>
{% load static %}
<style media="screen">
.bg-main-theme{ background-color:#003f63 !important; }
.bg-primary-theme{background-color:#b4fbf8 !important;}
.overlap-theme-up{position:relative !important;
top: -50px;}
.overlap-theme-below{position:relative !important;
top: 50px;}
.main-logo{
  width: 40px;
  height:40px;
}
.full-height{
  height: 800px;
  width:0px;
}
.vh-600{
  height: 600px;
  width:0px;
}
.vh-500{
  height: 500px;
  width:0px;
}
.vh-700{
  height: 700px;
  width:0px;
}
.vh-400{
  height: 400px;
  width:0px;
}
.vh-300{
  height: 300px;
  width:0px;
}
.vh-200{
  height: 200px;
  width:0px;
}
.vh-100{
  height: 100px;
  width:0px;
}

.stick-to-bottom{
  bottom:0px !important;
  position: absolute !important;
}
.no-decoration{
  text-decoration: none !important;
}
.overflow-y-start{
  overflow-y: auto !important;
}
html{
  scroll-behavior: smooth;
}

p{
  font-family: "Times New Roman", Times, serif;
}

</style>
<html lang="en">
  <head>
    <title>Game</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous" async>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/content_loader.js' %}" async></script>


    </script>
    <!-- Bootstrap CSS -->
  </head>
  <body>
    <main id="base-main-activity" >
      {% block content %}{% endblock content %}
    </main>
  </body>
</html>
